{% raw %}{% extends "base.html" %}

{% comment %}
    feincms_page is added by custom 404 view from essentials,
    don't use add_page_if_missing middleware!
{% endcomment %}

{% block title_tag %}Seite nicht gefunden{% endblock %}
{% block og_title %}Seite nicht gefunden{% endblock %}

{% block navigation %}
    {% if feincms_page %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block main %}
    <h1>Die angeforderte Seite ist nicht vorhanden.</h1>
    {% if not feincms_page %}
        <a href="/">Zurück zur Startseite</a>
    {% endif %}
{% endblock %}
{% endraw %}
