@import "lib.less";
@import "variables.less";

html {
    overflow-y: scroll;     // showing scrollbar all the time, preventing horizontal "jumps"
    min-height: 100%;       // check if necessary, comemnt if yes
    position: relative;     // check if necessary, comemnt if yes
}

@media(min-width: @screen-sm-min) {
    body {
        margin-bottom: @footer-height;
    }

    footer {
        height: @footer-height;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
