@black: #000;
@link-color: lighten(@black, 40%);
@link-hover-color: lighten(@link-color, 10%);

@error-color: #d9534f;

@demo-bg: rgba(0, 0, 0, .1);

@icon-size: 140%;
@btn-padding: 10px 15px;
@radius: 4px;

/*** Font sizes ***/
/* Desktop */
@large: 45px;
@big: 30px;
@medium: 22px;
@small: 17px;
@tiny: 14px;

/* Tablet */
@large-sm: 42px;
@big-sm: 24px;
@medium-sm: 20px;
@small-sm: 16px;
@tiny-sm: 13px;

/* Mobile */
@large-xs: 38px;
@big-xs: 22px;
@medium-xs: 18px;
@small-xs: 14px;
@tiny-xs: 12px;

/*** spacings ***/
@spacing-lg: 50px;
@spacing-md: 30px;
@spacing-sm: 20px;
@spacing-xs: 150px;
