@import 'lib.less';

.nav-font() {
    color: @black;

    &:hover,
    &:hover:focus {
        color: @black-hover;
    }
}

.nav-font-active() {
    color: @active-color;

    &:hover,
    &:hover:focus {
        color: @active-color-hover;
    }
}
